@charset "UTF-8";

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */

/* Base
    ========================================================================== */

/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */

@import url(../libs/bootstrap-4.1.3/css/bootstrap-grid.css);

@import url(../libs/bootstrap-4.1.3/css/bootstrap.min.css);

@import url(../libs/bootstrap-4.1.3/css/bootstrap-reboot.min.css);

@import url(../libs/font-awesome-4.7.0/css/font-awesome.min.css);

@import url(../libs/owl-carousel/owl.carousel.min.css);

@import url(../libs/owl-carousel/owl.theme.default.min.css);

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */

body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */

/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */

[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */

/**
  * Remove the gray background color from active links in IE 10.
  */

a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */

/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */

b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */

dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */

mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */

small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */

/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */

img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */

/**
  * Address margin not present in IE 8/9 and Safari.
  */

figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */

pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */

/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */

/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */

button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */

button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */

input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */

textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */

optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */

/**
  * Remove most spacing between table cells.
  */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
    Здесь импортируются все CSS библиотеки
    Можно импортить как CSS так и SASS файлы
    Если CSS то расширение указывать не надо
    */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  overflow-x: hidden;
  font-weight: 300;
}

body,
html {
  width: 100%;
}

a {
  color: #1B1414;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover {
  text-decoration: none;
}

header {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 200px;
}

header .banner {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header a {
  content: "";
  position: absolute;
  top: 5%;
  left: 7%;
  z-index: 100;
}

header a .logo {
  width: 110px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

header .sticker {
  content: "";
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: auto;
  right: 4%;
  top: 5%;
}

header .info {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0.5rem 0;
  height: 60px;
  left: 0;
  right: 0;
}

header .info-phone {
  position: relative;
  padding: 1rem 0 0 0;
}

header .info-phone a {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 4px;
  left: 0;
  right: 0;
  color: #FFF700;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}

header .info-phone a:hover {
  color: #999400;
}

.info2 {
  position: relative;
  bottom: 70px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info2 li {
  position: relative;
  list-style-type: none;
  background-color: #FFF700;
  margin: 2px 2px;
  text-align: center;
  display: inline-block;
}

.info2 li a {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 600;
  padding: 4px 6px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.info2 li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#carousel1 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

#carousel1 .owl-stage-outer .owl-stage .owl-item {
  width: 100%;
}

#carousel1 .owl-stage-outer .owl-stage .item {
  height: 300px;
}

#carousel1 .owl-stage-outer .owl-stage .item1 {
  background: url(https://images.unsplash.com/photo-1501066927591-314112b5888e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

#carousel1 .owl-stage-outer .owl-stage .item2 {
  background: url(https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

#carousel1 .owl-stage-outer .owl-stage .item3 {
  background: url(https://images.unsplash.com/photo-1508698947694-5ae81f424907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.descr {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 12px;
  padding: 0 6px;
}

footer {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #003197;
  min-height: 50px;
  padding: 8px 2px;
}

footer .social {
  text-align: center;
}

footer .social a {
  margin: 0 0.5rem;
}

footer .social a:hover .fa {
  color: rgba(0, 0, 0, 0.8);
}

footer .social a .fa {
  font-size: 1rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #fff;
}

footer p {
  margin: 0;
  text-align: center;
  color: #fff;
}

footer p span {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

footer p a {
  color: #fff;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

footer p a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container .article {
  padding: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
  margin: 0.5rem 0.5rem;
}

.container .article h2 {
  text-align: center;
  font-size: 1.2rem;
}

.container .article p {
  text-align: center;
  font-size: 12px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.container .article img {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: auto;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.tc0 {
  display: none;
}

.title {
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  padding: 10px 2px;
  font-weight: 600;
}

.tc6 {
  padding-bottom: 1rem;
}

.table_container {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
  text-align: center;
}

.table_container table {
  margin: 0 auto;
}

.table {
  margin: 0 auto;
}

.table-header {
  background-color: #ed1c24;
}

.table-header th {
  font-size: 0.8rem;
  font-weight: 300;
  white-space: normal;
  padding: 2px 4px;
  border: 1px solid #000;
  color: #fff;
  text-align: center;
}

.table-content td {
  vertical-align: middle;
  border: 1px solid #000;
  text-align: center;
  padding: 0 4px;
  font-size: 0.8rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.table-content:nth-child(odd) {
  background-color: #FFF700;
}

.table-content:nth-child(even) td:first-child {
  background-color: #FFF700;
}

.table .table-content:hover td,
.table .table-content:focus td,
.table .table-content:active td {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.tc6 .table-header th:first-child {
  background-color: #fff;
}

.tc6 .table-content td:first-child {
  background-color: #ed1c24;
  color: #fff;
}

.tc6 .table th:nth-child(2),
.tc6 .table th:nth-child(3) {
  background-color: #FFF700;
  color: #000;
  font-weight: 400;
}

.tc11 .table-header th:not(:first-child),
.tc12 .table-header th:not(:first-child),
.tc13 .table-header th:not(:first-child) {
  background-color: #FFF700;
  color: #000;
}

.tc11 .table-content td:first-child,
.tc12 .table-content td:first-child,
.tc13 .table-content td:first-child {
  background-color: #ed1c24;
  color: #fff;
}

.table_container {
  height: auto;
}

.table_container .table2,
.table_container .table3,
.table_container .table4,
.table_container .table5,
.table_container .table6 {
  width: 250px;
}

.tc11 {
  margin-top: 3rem;
}

.table13 {
  width: 320px;
}

/*==========  Mobile First  ==========*/

@media only screen and (min-width: 320px) {
  /**/
}

@media only screen and (min-width: 375px) {
  .info2 li a {
    font-size: 0.8rem;
  }

  .descr {
    text-align: center;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 425px) {
  header a .logo {
    width: 120px;
  }

  .info2 li a {
    font-size: 0.8rem;
  }

  .descr {
    text-align: center;
    font-size: 0.9rem;
  }

  footer p span {
    font-size: 1rem;
  }

  footer p a {
    font-size: 1rem;
  }

  footer .social a .fa {
    font-size: 1.4rem;
  }

  .tc2 table,
  .tc3 table,
  .tc4 table,
  .tc5 table,
  .tc6 table {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  header a .logo {
    width: 150px;
  }

  header .sticker {
    width: 120px;
  }

  header .info-phone {
    top: -40px;
  }

  header .info-phone a {
    font-size: 1.4rem;
  }

  .info2 li a {
    font-size: 0.8rem;
  }

  .descr {
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
  }

  footer {
    padding: 1rem 2px;
  }

  footer p span {
    font-size: 1rem;
  }

  footer p a {
    font-size: 1rem;
  }

  footer .social {
    margin-bottom: 0.5rem;
  }

  footer .social a {
    margin: 0 2rem;
  }

  footer .social a .fa {
    font-size: 1.4rem;
  }

  .tc0 {
    display: block;
  }

  .tc11,
  .tc12 {
    display: inline-block;
    width: 50%;
    margin-top: 0;
    margin-right: -4px;
  }

  .tc11 .title,
  .tc12 .title {
    font-size: 0.8rem;
  }

  .tc11 .table,
  .tc12 .table {
    height: 200px;
  }

  .tc13 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .tc2,
  .tc3 {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    height: 300px;
  }

  .tc2 .table,
  .tc3 .table {
    width: 300px;
    height: 250px;
  }

  .tc4,
  .tc5 {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    height: 400px;
  }

  .tc4 .table,
  .tc5 .table {
    width: 300px;
    height: 300px;
  }

  .tc6 {
    position: relative;
    top: -3rem;
    height: 300px;
  }

  .tc6 .table {
    height: 250px;
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  header a .logo {
    width: 170px;
  }

  header .sticker {
    width: 140px;
  }

  header .info-phone {
    top: -35px;
  }

  header .info-phone a {
    font-size: 1.8rem;
  }

  .info2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .info2 li {
    margin: 0 0.5rem;
  }

  .info2 li a {
    font-size: 0.8rem;
  }

  .owl-stage-outer .owl-stage .item {
    height: 500px !important;
  }

  .descr {
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
  }

  footer {
    padding: 1rem 2px;
  }

  footer p span {
    font-size: 1rem;
  }

  footer p a {
    font-size: 1rem;
  }

  footer .social {
    margin-bottom: 0.5rem;
  }

  footer .social a .fa {
    font-size: 1.4rem;
  }

  .table_container {
    overflow: hidden;
  }

  .tc0 {
    display: block;
    margin-top: 3rem;
  }

  .tc11,
  .tc12 {
    display: inline-block;
    width: 50%;
    margin-top: 0;
    margin-right: -4px;
  }

  .tc11 .title,
  .tc12 .title {
    font-size: 0.8rem;
  }

  .tc11 {
    left: 2rem;
    position: relative;
  }

  .tc12 {
    right: 2rem;
    position: relative;
  }

  .tc13 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .tc2,
  .tc3 {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    height: 430px;
  }

  .tc2 .table,
  .tc3 .table {
    width: 250px;
  }

  .tc2 {
    left: 4rem;
  }

  .tc3 {
    right: 4rem;
  }

  .tc4,
  .tc5 {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    height: 460px;
  }

  .tc4 .table,
  .tc5 .table {
    width: 370px;
  }

  .tc4 {
    left: 4rem;
  }

  .tc5 {
    right: 4rem;
  }

  .table th {
    font-size: 1.4rem;
  }

  .table td {
    font-size: 1.2rem;
  }

  .table_container .title {
    font-size: 1rem;
  }

  .container .article {
    padding: 2px;
    margin: 0.5rem 0.5rem;
  }

  .container .article h2 {
    font-size: 1.6rem;
    margin: 0.5rem 0;
  }

  .container .article p {
    font-size: 1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem 0;
  }

  .container .article img {
    margin-top: 0.5rem;
    width: 100%;
    height: 100%;
    max-width: 400px;
  }

  .tc2 table,
  .tc3 table,
  .tc4 table,
  .tc5 table,
  .tc6 table {
    width: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  header a .logo {
    width: 190px;
  }

  header .sticker {
    width: 160px;
  }

  header .info-phone {
    top: -40px;
  }

  header .info-phone a {
    margin: 0 1rem;
  }

  header .info-phone a {
    font-size: 2.6rem;
  }

  .info2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .info2 li {
    margin: 0 0.5rem;
  }

  .info2 li a {
    font-size: 1.1rem;
  }

  #carousel1 {
    margin-top: 2rem;
  }

  .owl-stage-outer .owl-stage .item {
    height: 500px !important;
  }

  .descr {
    margin: 1rem auto;
    text-align: center;
    font-size: 1.2rem;
  }

  footer {
    padding: 2rem 2px;
  }

  footer p span {
    font-size: 1.4rem;
  }

  footer p a {
    font-size: 1.4rem;
  }

  footer .social {
    margin-bottom: 1.5rem;
  }

  footer .social a .fa {
    font-size: 1.6rem;
  }

  .container .article {
    padding: 2px;
    margin: 0.5rem 0.5rem;
  }

  .container .article h2 {
    font-size: 1.6rem;
    margin: 0.5rem 0;
  }

  .container .article p {
    font-size: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 0;
  }

  .container .article img {
    margin-top: 0.5rem;
    width: 100%;
    height: 100%;
    max-width: 400px;
  }
}

@media only screen and (min-width: 2560px) {
  /**/
}