@import "vars"


/*==========  Mobile First  ==========*/


@media only screen and (min-width : 320px)
	/**/

@media only screen and (min-width : 375px)
    // index.html
    .info2 li a
        font-size: 0.8rem
    .descr
        text-align: center
        font-size: 0.9rem

@media only screen and (min-width : 425px)
    // index.html
    header a .logo
        width: 120px
    .info2 li a
        font-size: 0.8rem
    .descr
        text-align: center
        font-size: 0.9rem
    footer p
        span
            font-size: 1rem
        a
            font-size: 1rem
    footer .social a .fa
        font-size: 1.4rem
    .tc2, .tc3, .tc4, .tc5, .tc6
        table
            width: 300px

@media only screen and (min-width : 768px)
    // index.html
    header a .logo
        width: 150px
    header .sticker
        width: 120px
    header .info-phone
        top: -40px
        a
            font-size: 1.4rem
    .info2
    .info2 li a
        font-size: 0.8rem
    .descr
        text-align: center
        margin: 1rem
        font-size: 1rem
    footer
        padding: 1rem 2px
    footer p
        span
            font-size: 1rem
        a
            font-size: 1rem
    footer .social
        margin-bottom: 0.5rem
        a
            margin: 0 2rem
    footer .social a .fa
        font-size: 1.4rem
    // index.html - End
    // price.html - Begin
    .tc0
        display: block
    .tc11, .tc12
        display: inline-block
        width: 50%
        margin-top: 0
        margin-right: -4px
        .title
            font-size: 0.8rem
        .table  
            height: 200px
    .tc13
        margin-top: 1rem
        margin-bottom: 1rem
    .tc2, .tc3
        display: inline-block
        width: 50%
        margin-right: -4px
        height: 300px
        .table
            width: 300px
            height: 250px
    .tc4,.tc5
        display: inline-block
        width: 50%
        margin-right: -4px
        height: 400px
        .table
            width: 300px
            height: 300px
    .tc6
        position: relative
        top: -3rem
        height: 300px
        .table
            height: 250px
            width: 400px
    // price.html - End

@media only screen and (min-width : 1024px)
    // index.html - Begin
    header a .logo
        width: 170px
    header .sticker
        width: 140px
    header .info-phone
        top: -35px
        a
            font-size: 1.8rem
    .info2
        flex-direction: row
        li
            margin: 0 0.5rem
    .info2 li a
        font-size: 0.8rem
    #carousel1
    .owl-stage-outer
        .owl-stage
            .item
                height: 500px !important
    .descr
        text-align: center
        margin: 1rem
        font-size: 1rem
    footer
        padding: 1rem 2px
    footer p
        span
            font-size: 1rem
        a
            font-size: 1rem
    footer .social
        margin-bottom: 0.5rem
    footer .social a .fa
        font-size: 1.4rem
    // index.html - End
    // price.html - Begin
    .table_container
        overflow: hidden
    .tc0
        display: block
        margin-top: 3rem
    .tc11, .tc12
        display: inline-block
        width: 50%
        margin-top: 0
        margin-right: -4px
        .title
            font-size: 0.8rem
    .tc11
        left: 2rem
        position: relative
    .tc12
        right: 2rem
        position: relative
    .tc13
        margin-top: 1rem
        margin-bottom: 1rem
    .tc2,.tc3
        position: relative
        display: inline-block
        width: 50%
        margin-right: -4px
        height: 430px
        .table
            width: 250px
    .tc2
        left: 4rem
    .tc3
        right: 4rem
    .tc4,.tc5
        position: relative
        display: inline-block
        width: 50%
        margin-right: -4px
        height: 460px
        .table
            width: 370px
    .tc4
        left: 4rem
    .tc5
        right: 4rem
    .table
        th
            font-size: 1.4rem
        td
            font-size: 1.2rem
    .table_container
        .title
            font-size: 1rem
    .container
        .article
            padding: 2px
            margin: 0.5rem 0.5rem
            h2
                font-size: 1.6rem
                margin: 0.5rem 0
            p
                font-size: 1rem
                max-width: 800px
                margin: 0 auto
                padding: 0.5rem 0
            img
                margin-top: 0.5rem
                width: 100%
                height: 100%
                max-width: 400px
    .tc2, .tc3, .tc4, .tc5, .tc6
        table
            width: 300px
    // price.html - End
@media only screen and (min-width : 1440px)
    // index.html - Begin
    header a .logo
        width: 190px
    header .sticker
        width: 160px
    header .info-phone
        top: -40px
        a
            margin: 0 1rem
        a
            font-size: 2.6rem
    .info2
        flex-direction: row
        li
            margin: 0 0.5rem
    .info2 li a
        font-size: 1.1rem
    #carousel1
        margin-top: 2rem
    .owl-stage-outer
        .owl-stage
            .item
                height: 500px !important
    .descr
        margin: 1rem auto
        text-align: center
        font-size: 1.2rem
    footer
        padding: 2rem 2px
    footer p
        span
            font-size: 1.4rem
        a
            font-size: 1.4rem
    footer .social
        margin-bottom: 1.5rem
    footer .social a .fa
        font-size: 1.6rem
    // index.html - End
    .container
        .article
            padding: 2px
            margin: 0.5rem 0.5rem
            h2
                font-size: 1.6rem
                margin: 0.5rem 0
            p
                font-size: 1rem
                max-width: 1200px
                margin: 0 auto
                padding: 0.5rem 0
            img
                margin-top: 0.5rem
                width: 100%
                height: 100%
                max-width: 400px
@media only screen and (min-width : 2560px)
	/**/

