@import "part"
@import "normalize"
@import "libs"
@import "vars"
@import "fonts"

html
    scroll-behavior: smooth

body
    overflow-x: hidden
    font-weight: 300

body, html
    width: 100%
    font-family: Roboto, Arial

a
    color: #1B1414
    transition: all .2s ease

a:hover
    text-decoration: none

// index.html - Begin
header
    max-width: 1400px
    margin: 0 auto
    background: url(../img/header5.jpg) no-repeat center center
    background-size: cover
    height: 100px
    max-height: 100px
    position: relative
    .logolink
        content: ""
        position: absolute
        top: 12px
        left: 1.2rem
        z-index: 300
        img
            width: 100px
            height: auto
    .stickerlink
        content: ""
        position: absolute
        top: 12px
        right: 1rem
        img
            width: 60px
            height: auto
.phones
    position: relative
    max-width: 900px
    margin: 0 auto
    text-align: center
    top: -20px
    margin-bottom: -20px
    z-index: 2000
    a
        color: $yellow
        text-decoration: none
        font-weight: 600
        font-size: 14px
        &:hover
            color: rgba(237, 28, 36, .9)
    a:first-child
        padding-right: 4px
    a:last-child
        padding-left: 4px
.info2
    position: relative
    max-width: 800px
    margin: 0 auto
    z-index: 300
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 3px
    li
        margin: 1px 0
        background-color: #FFF700
        list-style-type: none
        a   
            padding: 6px 0
            display: block
            height: 100%
            color: #000
            text-transform: uppercase
            font-size: 12px
            text-decoration: none
            font-weight: 600
            transition: all .3s ease
            &:hover, &:active, &:focus
                background-color: rgba(237, 28, 36,.8)
                color: #fff
            span
                text-transform: lowercase
        .active
            background-color: rgba(237, 28, 36,.8)
            color: #fff
#carousel1
    max-width: 1400px
    margin-left: auto
    margin-right: auto
    display: block
    .owl-stage-outer
        .owl-stage
            .owl-item
                width: 100%
                max-width: 100%
            .item
                height: 200px
            .item1
                background: url(../img/car1.jpg) no-repeat center center
                background-size: cover
            .item2
                background: url(../img/car2.jpeg) no-repeat center center
                background-size: cover
            .item3
                background: url(../img/car3.jpg) no-repeat center center
                background-size: cover
    .owl-dots
        margin: 6px 0 0 0
.descr
    display: block
    max-width: 1400px
    margin: 0 auto
    font-size: 12px
    padding: 4px 6px
    text-align: center
footer
    margin-left: auto
    margin-right: auto
    position: relative
    background-color: #003197
    min-height: 50px
    padding: 8px 2px
    .social
        text-align: center
        padding-top: 5px
        padding-bottom: 10px
        a
            margin: 0 0.5rem
            &:hover .fa
                color: rgba(0,0,0,.8)
            .fa
                font-size: 1rem
                transition: all .3s ease
                color: #fff
    p
        margin: 0
        text-align: center
        color: #fff
        span
            color: #fff
            font-size: 0.8rem
            font-weight: 400
        a
            color: #fff
            font-weight: 400
            transition: all .3s ease
            &:hover
                color: rgba(0,0,0,.8)
.container
    max-width: 1400px
    margin: 0 auto
    .article
        padding: 2px
        box-sizing: border-box
        text-align: center
        border: 1px solid #000
        margin: 0.5rem 0.5rem
        h2
            text-align: center
            font-size: 1.2rem
        p
            text-align: center
            font-size: 12px
            max-width: 800px
            margin: 0 auto
            padding: 0.5rem 0
            &:first-letter
                font-size: 22px
                font-weight: 600
        img
            margin-top: 0.5rem
            width: 100%
            height: 100%
            max-width: 400px
            max-height: auto
            display: inline-block
            object-fit: contain
// index.html - End



// page price.html - Begin
.tc0
    display: none
.table_container
    max-width: 992px
    margin: 0 auto 0 auto
    overflow-x: auto
    table
        border: 2px solid #c1c1c1
        margin: 0 auto
        text-align: center
        width: 270px
        caption
            font-size: 12px
            font-weight: 400
            padding: 0.5rem
            margin-bottom: 2px
        tr
            th
                font-size: 11px
                border: 1px solid #c1c1c1
                background-color: $red
                color: #fff
                font-weight: 400
                padding: 2px 2px
                vertical-align: middle
        tr
            td
                font-size: 10px
                border: 1px solid #c1c1c1
                color: #000
                font-weight: 400
                padding: 2px 2px
                transition: all .3s ease
                vertical-align: middle
        tr:hover td, tr:active td, tr:focus td
            cursor: pointer
            background-color: rgb(237, 28, 36)
        tr:nth-child(odd) td
            background-color: $yellow
        tr:nth-child(odd):hover td, tr:nth-child(odd):active td, tr:nth-child(odd):focus td
            background-color: rgb(237, 28, 36)
    .tc11
        z-index: 400
        background-color: #fff
    .table2
        width: 260px
    .table3
        width: 260px
    .table4
        width: 260px
    .table5
        width: 260px
    .table6
        width: 260px
    .table7
        width: 260px
    .table4 
        tr:first-child
            td
                background-color: $red
                color: #fff
.mb
    margin-bottom: 10px
// page price.html - End



// section_map - Begin
.container_products
    margin-top: 19px
    max-width: 1400px
    .images
        #carousel2
            .owl-stage-outer
                position: relative
                .owl-stage
                    .owl-item
                        img
                            margin: 0 auto
                            height: 140px
                            width: auto
                            object-fit: cover
            .owl-dots
                content: ""
                position: absolute
                transform-origin: top
                transform: rotate(-90deg) translateY(-50%)
                right: 0
                top: 50%
    .text
        padding: 10px 0.5rem
        text-align: center
        font-size: 14px
        max-width: 700px
        margin: 0 auto
.section_map
    margin: 0 auto
    height: 300px
    width: 100%
    margin-bottom: 2rem
    h4
        margin: 0
        text-align: center
        padding: 0.5rem
// section_map - End



// tire_fitting - Begin
.tire_fitting, .filling_conditioner
    max-width: 1400px
    margin: 10px auto 0 auto
    padding: 0 6px
    .top    
        max-width: 1400px
        margin: 0 4%
        .imagewrap
            display: inline-block
            width: 40%
            text-align: left
            img
                height: auto
                width: 100%
                object-fit: cover
                display: inline-block
        h1
            width: 40%
            display: inline-block
            font-size: 11px
            font-weight: 500
            white-space: normal
            text-align: center
            float: right
        .conditionertitle
        .clearfix
            clear: both
        span
            color: $red
    p
        margin: 0.5rem 0
        font-size: 12px
        color: #000
        font-weight: 300
        text-align: center
        line-height: 1.2
        a
            color: $red
            text-decoration: none
            transition: all .3s ease
            &:hover
                color: $dred
    .price
        &-title        
            font-size: 12px
            font-weight: 600
            color: $blue
            text-align: center
            line-height: 1.2
        &-descr
            font-size: 12px
            font-weight: 400
            line-height: 1.2
            span
                color: $blue
        &-descr3
            margin: 0
            padding: 0
            text-align: center
            line-height: 1.2
            li
                list-style-type: none
                font-size: 12px
                margin: 0.5rem 0
                background-color: #f1f1f1
                text-align: center
                padding: 0 2px
                span
                    color: $red
                    font-weight: 400
                .result
                    color: $blue
// tire_fitting - End



@import "media"